<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Práctico 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <!-- Paso #2 - Información de Perfil Simple (Interpolación) -->
        <p> Hola, mi nombre es {{ nombre }}, tengo {{ edad }} años y vivo en {{ ciudad }}</p>

        <hr>
    <!-- Paso #3 – Contador Interactivo (Interpolación y Eventos)
 -->
        <p>Contador: {{ contador }}</p>
        <button @click="contador++">Incrementar</button>
        <button @click="contador--">Decrementar</button>

        <hr>

    <!-- Paso #4 – Lista de Tareas con Conteo y Estado
    (Propiedades Computadas, Interpolación, Eventos) -->

        <ul>
            <li v-for="tarea in tareas" :key="tarea.id" :class="{'tachado' : tarea.completada}"><input type="checkbox" v-model="tarea.completada">
                Tarea: {{ tarea.texto}} -
                Completada: {{ tarea.completada }}
            </li>
        </ul>
        <input type="text" v-model="nuevaTarea" placeholder="Agrega una nueva tarea">
        <button @click="agregarTarea">Añadir tarea</button>

        <p> Total de Tareas: {{ totalTareas }}</p>
        <p> Tareas Pendientes: {{ tareasPendientes }}</p>

        <hr> 

    <!-- Paso #5 – Lista de eventos -->

    <ul>
        <li v-for="evento in listaEventos" :key="evento.id">
            id: {{ evento.id}} - Nombre: {{ evento.nombre }} - TimeStamp : {{ formatearFecha(evento.timestamp) }}
        </li>
    </ul>

    <button @click="destruirApp"> Destruir app</button>

    </div>
</body>
<script>
    let eventosTemporales = []
    let doneBeforeUpdate = false
    let doneUpdated = false

    const app = new Vue({
        el: '#app',
        data: {
            nombre: 'Ana Garcia',
            edad : 30,
            ciudad : 'Tupungato',
            contador : 0,
            nuevaTarea : '',
            tareas : [
                { id : 1, texto: 'Aprender Vue', completada: false },
                { id : 2, texto: 'Termianr el tp1', completada: false}
            ],
            listaEventos : [
            ]
        },
        methods: {
            agregarTarea(){
                this.tareas.push({
                    id: this.tareas.length +1,
                    texto: this.nuevaTarea,
                    completada: false
                    
                })
                this.nuevaTarea = ''
            },
            destruirApp(){
                this.$destroy()
            },
            formatearFecha(timestamp){
                // no lo hice yo 
                const fecha = new Date(timestamp)
                const fechaHora = fecha.toLocaleString('es-AR', {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    hour12: false
        })
                const ms = fecha.getMilliseconds().toString().padStart(3, '0')
                return `${fechaHora}.${ms}`
        },
        },
        computed: {
            tareasPendientes(){
                let pendiente = 0
                for ( tarea of this.tareas){
                    if (!tarea.completada) {
                        pendiente +=1}
                }
                return pendiente
            },
            totalTareas(){
                return this.tareas.length 
            }
        },
        beforeCreate(){
            eventosTemporales.push({
                id : eventosTemporales.length +1, nombre : 'beforeCreate', timestamp : Date.now()
            })
            console.log('beforeCreate')
        },
        created(){
            this.listaEventos.push(...eventosTemporales)
            this.listaEventos.push({
                id : eventosTemporales.length +1, nombre : 'created', timestamp : Date.now()
            })
            console.log('created')
        },
        beforeMount(){
            this.listaEventos.push({
                id : this.listaEventos.length +1, nombre : 'beforeMount', timestamp : Date.now()
            })
        },
        mounted(){
            this.listaEventos.push({
                id : this.listaEventos.length +1, nombre : 'mounted', timestamp : Date.now()
            })
        },
        beforeUpdate(){
            if (!doneBeforeUpdate){
                this.listaEventos.push({
                    id : this.listaEventos.length +1, nombre : 'beforeUpdate', timestamp : Date.now()
            })
            doneBeforeUpdate = true
            }

        },
        updated(){
            if (!doneUpdated){
                this.listaEventos.push({
                    id : this.listaEventos.length +1, nombre : 'updated', timestamp : Date.now()
                
            })
            doneUpdated = true
            }
        },
        beforeDestroy(){
            this.listaEventos.push({
                id : this.listaEventos.length +1, nombre : 'beforeDestroy', timestamp : Date.now()
            })
            console.log('beforeDestroy')
        },
        destroyed(){
            this.listaEventos.push({
                id : this.listaEventos.length +1, nombre : 'destroyed', timestamp : Date.now()
            })
        }
    });
</script>
<style>
    .tachado{
        text-decoration: line-through;
    }
</style>
</html>