<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Práctico 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <!-- Paso #2 - Información de Perfil Simple (Interpolación) -->
        <p> Hola, mi nombre es {{ nombre }}, tengo {{ edad }} años y vivo en {{ ciudad }}</p>

        <hr>
    <!-- Paso #3 – Contador Interactivo (Interpolación y Eventos)
 -->
        <p>Contador: {{ contador }}</p>
        <button @click="contador++">Incrementar</button>
        <button @click="contador--">Decrementar</button>

        <hr>

    <!-- Paso #4 – Lista de Tareas con Conteo y Estado
    (Propiedades Computadas, Interpolación, Eventos) -->

        <ul>
            <li v-for="tarea in tareas" :key="tarea.id" :class="{'tachado' : tarea.completada}"><input type="checkbox" v-model="tarea.completada">
                Tarea: {{ tarea.texto}} -
                Completada: {{ tarea.completada }}
            </li>
        </ul>
        <input type="text" v-model="nuevaTarea" placeholder="Agrega una nueva tarea">
        <button @click="agregarTarea">Añadir tarea</button>

        <p> Total de Tareas: {{ totalTareas }}</p>
        <p> Tareas Pendientes: {{ tareasPendientes }}</p>
    </div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            nombre: 'Ana Garcia',
            edad : 30,
            ciudad : 'Tupungato',
            contador : 0,
            nuevaTarea : '',
            tareas : [
                { id : 1, texto: 'Aprender Vue', completada: false },
                { id : 2, texto: 'Termianr el tp1', completada: false}
            ]
        },
        methods: {
            agregarTarea(){
                this.tareas.push({
                    id: this.tareas.length +1,
                    texto: this.nuevaTarea,
                    completada: false
                    
                })
                this.nuevaTarea = ''
            }
        },
        computed: {
            tareasPendientes(){
                let pendiente = 0
                for ( tarea of this.tareas){
                    if (!tarea.completada) {
                        pendiente +=1}
                }
                return pendiente
            },
            totalTareas(){
                return this.tareas.length 
            }
        }
    });
</script>
<style>
    .tachado{
        text-decoration: line-through;
    }
</style>
</html>